<launch>

  <arg name="camera" default="zed" />
  <arg name="publish_TF" default="false" />	  

  <node pkg="ros_simple_zed_cuda_driver" type="zed_simple_camera_node" name="zed_simple_camera_node" ns="$(arg camera)" output="screen">
	<param name="resolution" value="0"/>
	<param name="frame_rate" value="60"/>
	<param name="quality" value="3"/>
   	<param name="sensing_mode" value="0"/>
  </node>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen"> 
     <param name="scan_height" value="3"/>
     <param name="output_frame_id" value="$(arg camera)_depth_frame"/>
     <param name="range_min" value="0.5"/>
     <param name="range_max" value="20.0"/>
     <remap from="image" to="$(arg camera)/stereo/depth/image_rect"/>
   </node>

  <group if="$(arg publish_TF)">
     <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 rgb_frame $(arg camera)_depth_frame 100" output="screen" /> 
  </group>
   
<!--Start Recording-->
  <node name="rosbag_the_datas" pkg="ksu_auv" type="rosbag.sh" output="screen"/>
   
	<arg name="fcu_url" default="/dev/ttyACM0:57600" />
		<arg name="gcs_url" default="" />
		<arg name="tgt_system" default="1" />
		<arg name="tgt_component" default="50" />
		<arg name="log_output" default="screen" />
		
<!-- launch using apm instead of px4 b/c we are using an ardupilot stack-->		
			<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
			</include>

		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)"
/>
<!-- enable heartbeat send and reduce timeout -->
		<param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="10.0" />
		<param name="startup_px4_usb_quirk" value="true" />
		<param name="position/vision/pose_with_covariance" value="true"
/>
	
/>

/>

		<!--Mavros configuration (necessary for our setup of mavros to pixhawk)-->
		<node name="config_mav_comms" pkg="ksu_auv" type="mavros_config.sh" />
		
		<!--launch sub_ai-->
		<node name="sub_ai" pkg="ksu_auv" type="sub_ai" output="screen" />

</launch>
